* {
    padding: 0;
    margin: 0;
    font-family: Roboto-Regular, sans-serif !important;
    box-sizing: border-box;
}

.contain_timekeeping {
    width: 80%;
    float: left;
}
.footer_main {
    width: 100%;
}
.content_timekeeping {
    padding: 25px 35px 0 35px;
}

.content_timekeeping.content_ql_nv {
    padding-top: 20px;
}
.box_breadcrump {
    display: flex;
    padding: 20px 0;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}
.ant-card {
    box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
    border: 1px solid #f0f0f0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    position: relative;
    background: #ffffff;
    border-radius: 8px;
}
.ant-card .ant-card-head {
    background: #4C5BD4 !important;
    color: #fff!important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 56px;
    margin-bottom: -1px;
    padding: 0 24px;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 8px 8px 0 0;
}
.ant-card-head-title h2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.ant-card .ant-card-body {
    padding: 0px 20px 20px 20px;
    border-radius: 0 0 8px 8px;
}
.ant-table-wrapper {
    border-start-start-radius: 8px;
    border-start-end-radius: 8px;
    position: relative;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    margin-top: 20px;
    overflow: scroll;
}
.table_history {
    width: 100%;
    min-width: 100%;
    border-radius: 8px 8px 0 0;
    border-collapse: separate;
    border-spacing: 0;
    color: #474747;
    font-weight: 500;
}
::-webkit-scrollbar-thumb {
    background: #cacef2;
    border-radius: 4px;
}
::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
tr th {
    padding: 16px 16px;
    overflow-wrap: break-word;
    position: relative;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.2s ease;
}
tr td {
    text-align: center;
    padding: 16px 16px;
}