* {
    padding: 0;
    margin: 0;
    font-family: Roboto-Regular, sans-serif !important;
    box-sizing: border-box;
}
.contain_register_company {
    display: flex;
    width: 100%;
}
.content_register_company {
    width: 100%;
    height: 100%;
    background-image: url(../images/bgr_lon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.register_form {
    width: 550px;
    margin: 0 auto;
}
.one_page_qmk {
    padding: 30px 47px;
    margin: 50px 0;
    background: #ffffff;
    border-radius: 10px;
}
.header_qmk {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    text-align: center;
}
.qlc_tieude_moi {
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
    color: #4c5bd4;
    font-weight: bold;

}
.qmk_avt_ic {
    width: 100%;
    float: left;
    text-align: center;
}
.qmk_avt_ic img {
    width: 244px;
    height: 36px;
}
.form-group {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.form-group .form_label {
    margin-bottom: 5px;
    width: 100%;
    float: left;
    color: #474747;
    font-size: 15px;
    line-height: 18px;
    font-family: Roboto-Regular, sans-serif !important;
    font-weight: 500;
}
.form-group .form-control {
    padding: 9px 10px 9px 15px;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #474747;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.cr_red {
    color: #ff3333;
}
.see_log {
    position: relative;
    float: left;
}
.see_log::after {
    content: '';
    float: left;
    position: absolute;
    width: 21px;
    height: 19px;
    top: 31px;
    right: 10px;
    background: url(../images/no_see_log.png) no-repeat;
    cursor: pointer;
}
.form-butt-one, .ctn_form, .one_page_qmk {
    width: 100%;
    float: left;
}
.tiep_tuc_one {
    background: #4c5bd4;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    border-radius: 40px;
    padding: 11px 10px 12px 10px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    font-family: Roboto-Regular, sans-serif !important;
    font-weight: 500;
}
.tex_center {
    text-align: center;
}
.share_clr_one {
    color: #474747;
    font-size: 15px;
    line-height: 18px;
    font-family: Roboto-Regular, sans-serif !important;
    font-weight: 500;
}
.footer_main {
    width: 100%;
}